@keyframes action-bounce {
    50% {
        transform: translateY(-.25rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes load-progress {
    100% {
        width: 0%;
    }
}

@keyframes accordion {
    100% {
        height: 5rem;
    }
}