// Google Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.App {
    @include flex($pos: null);
    height: 100vh;
}

.sidebar {
    height: 100%;
    width: $sidebar-width;
    background: $sidebar-bg;
    transition: 1s ease-in-out;
    width: 0;

    &.show {
        width: $sidebar-width;
    }

}

.main {
    flex-grow: 1;
    height: 100%;
    width: calc(100vw - $sidebar-width);
}