// Global
$primary-color: #269290;

// Sidebar
$sidebar-width: clamp(18vw, 250px, 20vw);
$sidebar-bg: #242A3A;
$sidebar-bg-dark: #171b25;
$sidebar-font-color: rgb(209, 206, 206);

// Main
$main-bg: #E5E9EC;
$main-bg-blue: #0091DC;
$main-bg-blue-dark: #3E739D;
$main-bg-red: #F56854;